@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  font-weight: 200;
  src: url("../public/fonts/Nunito/static/Nunito-ExtraLight.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  font-weight: 300;
  src: url("../public/fonts/Nunito/static/Nunito-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  font-weight: 400;
  src: url("../public/fonts/Nunito/static/Nunito-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  font-weight: 500;
  src: url("../public/fonts/Nunito/static/Nunito-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  font-weight: 600;
  src: url("../public/fonts/Nunito/static/Nunito-SemiBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  font-weight: 700;
  src: url("../public/fonts/Nunito/static/Nunito-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  font-weight: 900;
  src: url("../public/fonts/Nunito/static/Nunito-Black.ttf");
  font-display: swap;
}

/* @layer base {
  
} */

/* Appliying dark color scheme to dark theme */
.dark {
  color-scheme: dark;
}

/* Hide spinner of progressbar */
#nprogress .spinner {
  display: none !important;
}

/* Make progressbar have rounded edge */
#nprogress .bar {
  @apply rounded-sm;
}

/* Applis min with to small variant of components */
.btn-sm, .tab-sm, .input-sm{
  @apply h-9 min-h-[2.25rem]
}

/* Responsive BTN-CIRCLE small var */
.btn-circle:where(.btn-sm) {
    @apply h-9 w-9
}

/* Responsive BTN-CIRCLE  medium var */
.btn-circle:where(.sm\:btn-md) {
    @apply sm:h-12 sm:w-12
}

.btn{
  @apply font-bold
}


/* Custom responsive class */
.--btn-resp{
  @apply btn-sm sm:btn-md text-base sm:text-lg min-w-[4.5rem] sm:min-w-[6rem]
}

.--btn-base{
  @apply bg-base-100 text-base-content hover:bg-base-100
}

